/* general styles */
body {
  font-family: "Open Sans", sans-serif;
}

.text-primary {
  color: #fd6e0a;
}

.btn-primary {
  border-radius: 5px;
  border: 0;
  background: #fd6e0a;
  color: var(--White-Color, #fff);
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
}

/* navbar styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 200px;
}

.nav-title {
  color: var(--Dark-01, #181818);

  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 50px;
}

nav a {
  text-decoration: none;
  color: #474747;
}

/* header related styles */

.header {
  background-color: #fff8f3;
  background-image: url(/images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner .profile-pic {
  width: 584px;
  height: 676px;
}

.banner-greeting {
  font-weight: 600;
  font-size: 45px;
  color: #474747;
  margin-bottom: 0px;
}

.banner-content {
  max-width: 500px;
}

.banner-title {
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* main section styles */
main {
  max-width: 1160px;
  margin: 0 auto;
}
/* about section styles */

.about {
  margin-top: 120px;
  padding: 120px;
  border-radius: 10px;
  background: #fff8f3;
}
.section-title {
  color: var(--Dark-01, #181818);
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.about-description {
  color: var(--Dark-03, #757575);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
}

.about-info-title {
  color: var(--Dark-03, #757575);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 5px;
}

.about-info-description {
  color: var(--Dark-02, #474747);
  font-size: 20px;
  font-weight: 700;
  margin-top: 0px;
}
